
.closePageIconContainer {
    position: sticky;
    bottom: 0;
    left: 0;
    right: 0;
    height: 100%;
    margin-top: 5.1em;
    padding-top: 1em;
    background-color: #000;
}

.closePageIcon {
    position: absolute;
    bottom: 0;
    left: 0;
    margin-bottom: .13em;
    margin-left: .2em;
}